
:root{
    --background:linear-gradient(135deg, #667eea7e 0%, #764ba298);
    --color-primary:#667eea;
    --color-secondary:#764ba2;
    --boton-padding: 20px 40px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/*paradispositivosmoviles*/
/*displayflex*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;/*alturadefinidaocupetodoelv*/
}

/*encabezadoybarradenavegacion*/
.container{
    max-width: 1200px;
}

/*.subtitle{
 color: var(--color-primary);
 font-size: 2.5rem;
 margin-bottom: 35px;
}*/

.hero{
    height: 100vh;
    background-image: var(--background), url(./portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
    padding: 0;
}
.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav__items{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.hero__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: white;
    margin-left: 60px;
}

.hero__wave{
    position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;

}

.hero__texts{
    width: 80%;
    margin-bottom: 50px;

}
.hero__title{
    font-size: 3.2rem;
}
.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
    
}

.hero__cta{
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 40px;
}
.hero__cta:hover{
transform: scale(1.2);
}

/*RESPOSIVE*/
@media screen and (max-witdh:800px){
    :root{
        --boton-padding:18px 40px;
    }

    .nav{
        justify-content: space-around;
    }
    .nav__items{
        font-weight: 400;
        border-bottom: 1px solid #fff;
        margin-right: 0;
    }
   .hero__texts{
    width: 100%;
    margin-bottom: 80px;
   }

   .hero__title{
    font-size: 2.5rem;
   }
   .hero__subtitle{
    font-size: 1.5rem;
   }
}

@media screen and (max-width:500px){
    :root{
        --boton-padding:18px 35px;
    }
    .subtitle{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .nav{
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .nav__items{
        padding: 0 10px;
        border: 0;
    }
.hero__texts{
    text-align: center;
    margin-bottom: 100px;
}
.hero__title{
    font-size: 2rem;
}

}
/*aquiterminahero*/

.main-nav{
    background-color: black;
 color:white;
 line-height: 1;/*altura*/
    text-align: center; 
    
    
}

.nav-container__item{
    text-align: center;
    line-height: 3;
    border-bottom: 1px solid white;   
}
.nav-container__item:hover{
    background: linear-gradient(to left, #33ccff 44%, #0099ff 81%);
}
.nav-container__link{
    color: white;
    display: block;/*paraqueocupetodosucontenedor*/
}
/*display flex para que sean cajas flexibles*/
.main-container{
    display: flex;
    flex-direction: column;/*para que este uno abajo deotro*/
    flex-grow:1 ;
}


.contenedoraside{
  
    flex-grow:1 ;
    /*paraalineareltexto*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*footer*/
.footer-distributed{
    background-color:#0099ff;
    color: white;
    line-height: 10;
    text-align: center;
    margin-top: auto;
}

/*paratablets*/
@media screen and (min-width:768px){
    .nav-container{
        display: flex;
       
    }
    .nav-container__item{
        flex-grow: 1;

    }
}

/*paradispositivosmasgrandes*/
@media screen and (min-width:1024px){

    /*.main-container{
        display: flex;
        
       flex-direction: column;
        
      
    }*/
    /*siqueremosachicarunodeloscontenedoresflexbasis*/
    .galeria{
        flex-basis: 60%;
    }
    .contenedoraside{
        flex-basis: 40%;
    }
}

/*contenidoprincipal*/
/*botonwasap*/
.container-boton {
    color: #2e6329;
    /* border: 1px solid #fff;*/
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease0.3s;
    animation: efecto 1.2s infinite;
}
.contenido{
    background: b;
}
.container-boton:hover {
    transform: scale(1.1);
    transition: 0.3s;

}

.boton {
    width: 40px;
    transition: ease 1s;
}

@keyframes efecto {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }

    100% {
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0.0);
    }
}
/*Galeria*/
.subtitle{
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px; 
    color: gray;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   width: 95%;
   margin: auto;
   grid-gap: 10px;
   padding: 0px 0;
   overflow: hidden;
   margin-bottom: 0px;
}
.galeria video{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s; /*paralaanimacion*/
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0, .5);
}

/*animaciones*/
.galeria a:hover video {
   
    transform:scale(1.1);
    

}
/*galeriavideos*/
.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0,0,0, .5);
    /*animacion*/
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);/*paraquedesaparezca*/


}
.light-box video{
    width: 75vw;
    max-height: 70vh;

}
.light-box:target{
    transform: scale(1);/*paraqueaparezca*/
}

.close{
    display: block;
    position: absolute;
    top: 20px;
    right: 40px;
   
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    line-height: 40px;
    
}

.next{
    display: block;
    line-height: 30px;
    margin-left: 50px;
    
    
    
}




/*aside*/
.contenedoraside{
   
    margin-left: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.contenedoraside img{
 
width: 15vh ;
align-items: center;
}

.contenedoraside p{
font-size: 20px;
font-family: 'Roboto', sans-serif;
font-weight: 100px;
color: gray;
}

